body{
    background: #ffffff;
}
.view{
    height: 100%;
    width: 100%;
}
.header{
    height: 60px;
    width: 100%;
    background: #53a1ff;
    /*background: #ffe8c4;*/
}
.header h1{
    color: #ffffff;
    text-align: center;
    line-height: 60px;
    text-shadow: 1px 1px 1px #666666;
}
.tool{
    font-size: 18px;
    color: #ffffff;
    height: 40px;
    width: 100%;
    background: #59aaff;
}
.tool li{
    text-align: center;
    line-height: 40px;
    width: 33.33%;
    float: left;
}
.tool li span{
    cursor: pointer;
    text-shadow: 1px 1px 1px #666666;
}
.tree{
    padding-top: 2px;
}
.node{
    height: 30px;
    /*width: 60px;*/
    background: #8ed8e2;
    padding: 0 6px;
    /*border: 2px solid #ffffff;*/
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    position: absolute;
    cursor: pointer;
}
.node_root{
    margin-top: 20%;
    left: 50%;
    margin-left: -30px;
}
.node p{
    display: inline-block;
}

/*事件标记*/
.active{
    color: red;
}

